<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | append: ' | ' | append: site.title | escape }}{% else %}{% if paginator and paginator.page > 1 %} {{'page ' | append: paginator.page | append: ' | ' | append: site.title | escape}} {% else %} {{site.title | append: ' | ' | append: site.indextitle | escape }} {% endif %}  {% endif %}</title>
  <meta name="description" content="{% if page.iscategory %} {{page.excerpt | strip_html | replace: '\n' ' ' | truncatewords: 40}} {% else %} {% if page.excerpt %} {{ page.content | strip_html | replace: '\n' ' ' | truncatewords: 40}} {% else %} {% if paginator and paginator.page == 1 %} {{ site.description }} {% else %} {{ content | strip_html | replace: '\n' ' ' | truncatewords: 40}} {% endif %}{% endif %}{% endif %}">
  
  <link rel="preload" as="font" type="font/woff2" href="{{ "/fonts/dosis-v8-latin-regular.woff2" | prepend: site.baseurl }}" crossorigin>
  <link rel="preload" as="font" type="font/woff" href="{{ "/fonts/dosis-v8-latin-regular.woff" | prepend: site.baseurl }}" crossorigin>

  <link href="//www.google-analytics.com" rel="preconnect" crossorigin>
  <link href="//cdn.jsdelivr.net" rel="preconnect" crossorigin>
  
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  
  
  <meta property="og:title" content="{% if page.title %}{{ page.title | append: ' | ' | append: site.title | escape }}{% else %}{% if paginator and paginator.page > 1 %} {{'page ' | append: paginator.page | append: ' | ' | append: site.title | escape}} {% else %} {{site.title | append: ' | ' | append: site.indextitle | escape }} {% endif %}  {% endif %}" />
  <meta property="og:description" content="{% if page.iscategory %} {{page.excerpt | strip_html | replace: '\n' ' ' | truncatewords: 40}} {% else %} {% if page.excerpt %} {{ page.content | strip_html | replace: '\n' ' ' | truncatewords: 40}} {% else %}{{ site.description }}{% endif %}{% endif %}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:type" content="article" />
  <meta property="og:site_name" content="{{site.title}}" />
  
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": "{% if page.title %}{{ page.title | append: ' | ' | append: site.title | escape }}{% else %}{% if paginator and paginator.page > 1 %} {{'page ' | append: paginator.page | append: ' | ' | append: site.title | escape}} {% else %} {{site.title | append: ' | ' | append: site.indextitle | escape }} {% endif %}  {% endif %}",
    "description": "{% if page.iscategory %} {{page.excerpt | strip_html | replace: '\n' ' ' | truncatewords: 40}} {% else %} {% if page.excerpt %} {{ page.content | strip_html | replace: '\n' ' ' | truncatewords: 40}} {% else %}{{ site.description }}{% endif %}{% endif %}",
    "url": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  }
  </script>
  
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#000"
      },
      "button": {
        "background": "#f1d600"
      }
    },
    "theme": "classic",
    "content": {
      "message": "Certain third party modules use cookies in order to ensure correct functionality. Continuing browsing requires you confirm your consent.",
      "href": "https://codingvision.net/privacy-policy"
    }
  })});
  </script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8593522087825180",
    enable_page_level_ads: true
  });
</script>
    
</head>
