<aside id="sidebar">
    
    
    <section id = "categories">
    <h2>Categories</h2>
    <ul>
    {% for page in site.pages %}
        {% if page.title and page.iscategory %}
        <li><a href="{{page.url}}" name="{{ page.title }}">{{ page.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    </section>
	
	<section id = "ads">
    <script type="text/javascript" src="//ap.lijit.com/www/delivery/fpi.js?z=309123&u=apex95&width=300&height=250" defer></script>
    </section>
    
    <section id = "links">
    <h2>Links</h2>
    <ul>
        <li><a href="/sitemap.xml">Sitemap</a></li>
		<li><a href="http://feeds.feedburner.com/codingvision?format=xml">XML Feed</a></li>
		<li><a href="http://student.codingvision.net">Student's blog @ ACS/Politehnica</a></li>
	</ul>
    </section>
    
</aside>


<script>
	(function(){
 		 setTimeout(function() {
		 if (document.getElementById('ads').offsetHeight < 200)  
		 { 
            document.getElementById('ads').style.background = "url('/imgs/ad.png') no-repeat";            
			document.getElementById('ads').style.height = "250px";
			document.getElementById('ads').style.width = "300px";
		 }
		}, 3000);
	})();

</script>