<aside id="sidebar">
    
    <section id = "ads">
    <h2>Ads</h2>
        <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-8593522087825180"
         data-ad-slot="8768571769"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </section>
    
    <section id = "categories">
    <h2>Categories</h2>
    <ul>
    {% for page in site.pages %}
        {% if page.title and page.iscategory %}
        <li><a href="{{page.url}}" name="{{ page.title }}">{{ page.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    </section>
    
    
	


    
    <section id = "links">
    <h2>Links</h2>
    <ul>
        <li><a href="/sitemap.xml">Sitemap</a></li>
		<li><a href="http://feeds.feedburner.com/codingvision?format=xml">XML Feed</a></li>
		<li><a href="http://student.codingvision.net">Student's blog @ ACS/Politehnica</a></li>
	</ul>
    </section>
    
</aside>


