/**
 * Site header
 */
.site-header {
    height: 60px;

    // Positioning context for the mobile navigation icon
    position: fixed;
    width: 100%;
    background-color: $black-color;
    border-bottom: 2px solid $blue2-color;
    box-shadow: 0 4px 3px $shadow-color;
    z-index: 99;

}

.site-header a:hover {
    color: $white-color;
    transition: color 0.28s linear;
}

.site-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $white-color;
    }
}

.site-nav {
    float: right;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $white-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .trigger{
        margin-top: 3%;
    }
    
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 2px solid $blue2-color;
    padding: $spacing-unit 0;
    box-shadow: 0 -4px 3px $shadow-color;
    background-color: $black-color;
    margin-top: 2%;
}

.site-footer a:hover {
    color: $white-color;
    transition: color 0.28s linear;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit;
    text-align:center;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */


a.category-link {
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $black-color;
    color: $white-color;
}



.page-content {
    padding: $content-top-padding 0 $spacing-unit;
    background-color: $background-color;
    min-height: 90vh;
}

.page-heading {
    font-size: 28px;
    color: $red-color;
    border-bottom: 1px solid $red-color;
    text-align: right;
    margin-bottom: 20px;
    
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        min-height: 160px;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: darken($orange-color, 5%);
    text-align: right;
    font-family: $base-font-family;
}

.post-link {
    /*display: block;*/
    font-size: 24px;
    background: none !important;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-family: $text-font-family;
    font-size: 15px;
    overflow-x: hidden;


    
    h2 {
        font-size: 27px;
        color: $red-color;
        border-bottom: 1px solid $red-color;
        
        margin-top: 50px;
        
        @include media-query($on-laptop) {
            font-size: 28px;
        }
        
        font-family: $base-font-family;
    }

    h3 {
        font-size: 23px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
        
        
        font-family: $base-font-family;
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
        
        font-family: $base-font-family;
    }

    h5 {
      font-size: 15px;
      padding: 10px;
      background-color: #fafad4;
      border-left: 2px solid $orange-color;
    }

    h5::before {
      content: "Note: ";
      font-weight: bold;
    }
    
    strong {
        font-weight: bold;
    }

    a {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.378,1.062H3.855c-0.309,0-0.559,0.25-0.559,0.559c0,0.309,0.25,0.559,0.559,0.559h13.964v13.964 c0,0.309,0.25,0.559,0.559,0.559c0.31,0,0.56-0.25,0.56-0.559V1.621C18.938,1.312,18.688,1.062,18.378,1.062z M16.144,3.296H1.621 c-0.309,0-0.559,0.25-0.559,0.559v14.523c0,0.31,0.25,0.56,0.559,0.56h14.523c0.309,0,0.559-0.25,0.559-0.56V3.855 C16.702,3.546,16.452,3.296,16.144,3.296z M15.586,17.262c0,0.31-0.25,0.558-0.56,0.558H2.738c-0.309,0-0.559-0.248-0.559-0.558 V4.972c0-0.309,0.25-0.559,0.559-0.559h12.289c0.31,0,0.56,0.25,0.56,0.559V17.262z' fill='skyblue' fill-rule='nonzero'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center right;
      padding-right: 20px;
    }
}


/**
 * Index page
 */
 
 .excerpt {
    font-size: 17px;
    color: $grey2-color;
    padding-left: 20px;
    font-family: $base-font-family;
 }
 
 .separator {
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid $grey-color-dark;
    width: 100%;
 }
 
 #content {
    display: table; 
    table-layout: fixed; 
    width: 100%;
	border-collapse:separate;
    
    border-spacing: 50px 0px;
    
    
    @include media-query($on-palm) {
        border-spacing: 0px 0px;
    }
	
 }
 
 div.home {
	display: table-cell;
	width: 70%;
 }
 
 /*
 * sidebar
 */
 .post {
    display: table-cell;
    width: 70%;
 }

 a.newsletter-link {
    display: inline-block;
    width: 100%;
    margin-bottom: 2px;
    margin-top: 10px;
    border-radius: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: $orange-color;
    color: $white-color;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
 } 

 #sidebar {
    display: table-cell;
    width: auto;
    
    h2{
        font-size: $sidebar-header-font-size;
        color: $grey2-color;
        border-bottom: 1px solid $grey2-color;
    }
    
    section{
        margin: 30px 0px;
    }
 }
 
 /* -- sidebar fix for smartphones --*/
 @include media-query($on-palm) {
    #sidebar {
        display: table-row;
    }
    
}
 
 .thumbnail {
    width: 140px;
    height: 140px;
    
    border: 1px solid $grey-color-dark;
    margin: 10px;
    float: left;
    
    > img {
        width: 140px;
        height: 140px;
    }
 }
 
 .pagination {
    text-align: center;
 }
 
 #categories {
    ul {
        list-style-type: square;
    }
    
    li {
        padding-left: 10px;
        transition: background 0.28s linear;
    }
    
    li:hover {
        background-color: lighten($grey-color-dark, 15%);
        padding-left: 10px;
        
        transition: background 0.28s linear;
    }
 }

 #newsletter {
    font-size: 17px;
 }
 
 pre.lineno {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 }
 
 /* -- google search edits -- */
 input.gsc-search-button {
    display:none;
 }
 
 div.gsc-control-cse, div.gsc-control-cse-en {
     background: none;
     padding: 0px !important;
     border: 0px !important;
     
 }
 input.gsc-input {
    color: darken($grey-color-dark, 10%);
    font-size: 17px !important;
 }
 
 .gsc-result .gs-title {
    overflow: unset !important;
 }
 
 .gs-title a:hover {
    text-decoration: none !important;
    color: #0000cc !important;
 }
 
 /* end google search edits -- */
 .site-nav {
    width: 30%;
 }
 
 /* Ads code */
 
 #ad2 {
    text-align: center;
 }

 #ad2 > * > ins {
    display: inline-block !important;
}
 
 #ads {
    margin:auto !important;
 }

 #ads > * > ins {
    display: inline-block !important;
 }


 /* Sharebox */
 #sharebox {
    position:fixed;
    left:0px; 
    right:auto; 
    top: 20%;
    bottom: auto;
    z-index: 99;

    @include media-query($on-palm) {
        display: none;
    }
}

#sharebox ul {
    list-style-type: none; 
    padding: 0px;
    margin: 0px;
}


.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}


/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #ff4500
}

.resp-sharing-button--reddit:hover {
  background-color: #c43501
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--reddit {
  background-color: #ff4500;
  border-color: #ff4500;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #c43501;
  border-color: #c43501;
}


 /* Author info */

 #author-avatar {
 	max-width: 150px;
     max-height: 150px;
     float: left;
     border: 3px solid $white-color;
     box-shadow: 0px 0px 5px $black-color;
     border-radius: 2%;
     margin-right: 20px;
 }

 #author-name {
     color: $red-color;
     font-size: 27px;
 }

 #author-desc {
     font-size: 17px;
 }

 #author-email {
     margin-top: 10px;
 }

 #author-bio {
     margin-top: 20px;
     margin-bottom: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
     border-top: 1px solid $grey-color-dark;
 }


